@model Category

@* The hidden id field is so the form will submit the id, shouldn't need this if name is 'id' but any other name will need it
   If not, id will be 0 and so when updating the database, it will treat this as a new entry
   The input fields are disabled so no changes can be made
*@

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Delete Category</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post">
            @* Hidden input field for the category ID *@
            <input asp-for="Id" hidden />

            @* Container for the category delete form *@
            <div class="border p-3 mt-4">
                @* Input field for category name (disabled) *@
                <div class="form-floating py-2 col-12">
                    <input asp-for="Name" disabled class="form-control border-0 shadow" />
                    <label asp-for="Name" class="ms-2"></label>
                </div>

                @* Input field for display order (disabled) *@
                <div class="form-floating py-2 col-12">
                    <input asp-for="DisplayOrder" disabled class="form-control border-0 shadow" />
                    <label asp-for="DisplayOrder" class="ms-2"></label>
                </div>

                @* Buttons for form submission and navigation *@
                <div class="row mt-3">
                    <div class="col-6 col-md-4">
                        <button type="submit" class="btn btn-danger form-control">Delete</button>
                    </div>
                    <div class="col-6 col-md-4">
                        <a asp-controller="Category" asp-action="Index" class="btn btn-outline-secondary border form-control">
                            Back to List
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


@* No validation needed for delete action *@