@page
@model WebProjectProject_Razor.Pages.Categories.DeleteModel

@* The hidden id field is so the form will submit the id, shouldn't need this if name is 'id' but any other name will need it
   If not, id will be 0 and so when updating the database, it will treat this as a new entry
   The input fields are disabled so no changes can be made
*@

<form method="post">
    @* Hidden input field for the category ID *@
    <input asp-for="Category.Id" hidden />

    @* Container for the category delete form *@
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Delete Category</h2>
            <hr />
        </div>

        @* Input field for category name (disabled) *@
        <div class="mb-3 row p1">
            <label asp-for="Category.Name"></label>
            <input asp-for="Category.Name" disabled class="form-control" />
        </div>

        @* Input field for display order (disabled) *@
        <div class="mb-3 row p-1">
            <label asp-for="Category.DisplayOrder"></label>
            <input asp-for="Category.DisplayOrder" disabled class="form-control" />
        </div>

        @* Buttons for form submission and navigation *@
        <div class="row">
            <div class="col-6 col-md-4">
                <button type="submit" class="btn btn-danger form-control">Delete</button>
            </div>
            <div class="col-6 col-md-4">
                <a asp-page="/Categories/Index" class="btn btn-outline-secondary border form-control">
                    Back to List
                </a>
            </div>
        </div>
    </div>
</form>

@* No validation needed for delete action *@